* {
  font-family: "Inter";
  font-style: normal;
}
.bloco1 {
  max-width: 100%;
  min-width: 300px;
  width: 100%;
  height: 52px;
  align-items: baseline;
  margin-top: 2%;
  border-bottom: 2px solid #212529;
}
.itens-topo1 {
  max-width: 1052px;
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  padding: 0 10px;
}

header {
  max-width: 100%;
  height: 180px;
  border-bottom: 2px solid #212529;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 120px;
}
.itens-topo2 {
  max-width: 1052px;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  padding: 0 10px;
}
header h2 {
  max-width: 151px;
  width: 100%;
  height: 28px;
  margin-left: -7px;
  font-weight: 700;
  line-height: 28px;
  color: #f8f9fa;
}
header h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 244px;
  width: 100%;
  height: 22px;
  color: #868e96;
}
.logout {
  width: 40px;
  height: 23px;
  background-color: #212529;
  border-radius: 4px;
  color: white;
}
main {
  max-width: 1052px;
  width: 100%;
  min-width: 300px;
  display: flex;
  margin: 5% auto;
  flex-direction: column;
  padding: 0 10px;
}

.tecnologias {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding: 0 10px;
}
.add {
  background-color: #212529;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.add img {
  width: 100%;
}
ul {
  display: flex;
  flex-direction: column;
  max-width: 1052px;
  width: 100%;
  max-height: 416.37px;
  height: 100%;
  align-items: center;
  padding: 22px 19px;

  background: #212529;
  border-radius: 4px;
  overflow-y: auto;
}
@media (max-width: 500px) {
  .itens-topo1 {
    padding: 0 10px;
    margin: 5% auto;
  }
  .itens-topo2 {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .tecnologias {
    padding: 0 10px;
  }
}
